* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: #000;
    color: #fff;
}

p {
    font-size: 3rem;
}

.js {
    color: #fdfdfc;
}

.typed-text {
    color: #e3850a;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
}

.cursor {
    color: yellow;
    animation: blink 0.7s steps(2, start) infinite;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}

.top-left-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.top-left-btn:hover {
    background: linear-gradient(45deg, #2575fc, #6a11cb);
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.top-left-btn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}